body{
    margin: 0;
    background-image: url("Fotos_recursos/fondo-abstracto-blanco-minimalista_23-2148816119.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.Banner1 {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 10;
        overflow: hidden;
        background-color: rgb(33, 32, 32);
    }
    
    li{
        float: left;
    }
    
    li a {
        display: block;
        color: aliceblue;
        text-align: center;
        padding: 30px;
        text-decoration: none;
        font-size: 20px;
    }
    
h1{
text-align: center; 
margin-top: 100px; 
font-size: 35px;
color: rgb(13, 13, 14);

}

img{
max-width: 100%;  
display: block; 

}
.grid2{
display: grid;  
grid-template-columns: 1fr 200px;
grid-gap: 20px;
max-width: 800px;
padding: 10px;
margin: 0 auto;  
}

.libreta{
max-width: 100%;  
display: block;
display: grid;  
grid-template-columns: 1fr 200px;
grid-gap: 20px;
max-width: 800px;
padding: 10px;
margin: 0 auto;  
}

.contenedor{
max-width: 100%;  
display: block;
display: grid;  
grid-template-columns: 1fr 200px;
grid-gap: 10px;
max-width: 800px;
margin: 0 auto;  
font-size: 25px;
background-image: url("Fotos_recursos/Libretalinks.png");
background-size: cover;
background-repeat: no-repeat;
padding: 250px 100px;

}



social-media{
    display:flex;
    margin-top: 40px;
    padding: 20px;
}
.icon{
    width: 100px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    transition: transforn 0.5

}
.icon img{
    width: 40px;

}
.icon a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5;
}

.icon a:hover{
   opacity: 1;

}
.icon:hover{
    transform: translate(-5px);
}







