body{
    margin: 0;
    background-image: url("Fotos/fondo-abstracto-blanco-minimalista_23-2148816119.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.Banner1 {
width: 1500px;
height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: rgb(33, 32, 32);
}

li{
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

.Presentacion{
    width: 300px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #afdebe;
}

.card__image {
    width: 250px;
    border-radius: 50%;
    margin: 10px;

}
.card__name{
font-size:35px ;

}    
.card__profession{
    font-size: 20px;
}
.apuntes_html{
  font-size:20px;
  text-align: justify;
  text-align:center ;

  
}
.links_pdf{
    font-size: 20px;
    background-color: #afdebe;
    width: 300px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1.8rem;
    text-align: left;
    float: left;

}

.card_html{
width: 100%;
}

.links_pdf{
    font-size: 20px;
    background-color: #afdebe;
    width: 300px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 1.8rem;
    text-align: left;
    float: left;


.card_ejercicios{
width: 100%;
}