body{
    margin: 0;
    background-image: url("Fotos/fondo-abstracto-blanco-minimalista_23-2148816119.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* PAGINA INICIO*/

.Banner1 {
width:100%;
display: flex;
flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: rgb(33, 32, 32);
}

li{
    float: left;
}

li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 20px;
}

.Presentacion{
    width: 300px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #afdebe;
}

.card__image {
    width: 250px;
    border-radius: 50%;
    margin: 10px;

}
.card__name{
font-size:35px ;

}    
.card__profession{
    font-size: 20px;
}

.texto_bienvenida{
    font-size:25px;
    text-align:left;
    margin:5%;
}

/* PAGINA HTML/CSS */

.apuntes_html{
  font-size:25px;
  text-align:left;
  margin:5%;
  
}
.card_html{
    width: 100%;
    }

.links_pdf-1{
    font-size: 25px;
    background-color: #afdebe;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: em;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;
    float: left;

}
.card_html2{
    width: 100%;
    }

.links_pdf-2{
    font-size: 25px;
    background-color: #afdebe;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: em;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;
    float: left;

}

.card_html3{
    width: 100%;
    }

.links_Recursos{
    font-size: 25px;
    background-color: #afdebe;
    width: 400px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: em;
    margin-bottom: 3em;
    padding: 0.8rem;
    text-align: left;
    float: left;

}


/* PAGINA PROYECTOS*/

.texto_Proyectos{
    font-size:25px;
    text-align:left;
    margin:5%;
}

.fotos_proyectos{
width: 10px;

}

.card_Proyectos{
    width:30%;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom:1em;
    padding: 0;
    }

    /* PAGINA JAVASCRIPT*/

.PresentaciónJS{
    font-size:25px;
    text-align:left;
    margin: 5%;
    }

.box_desarrollo{
width: 100%;
font-size: 25px;
margin-left: px;
margin-bottom: 3em;
padding: 0.8rem;

}

.ArbolDesarrollo{
width: 30%;
font-size: 25px;
width: 400px;
margin-right: auto;
margin-top: em;
margin-bottom: 3em;
padding: 0.8rem;
text-align: left;
float: left;

    }
.box_Katas{
width: 100%;
font-size: 25px;
margin-left: 10px;
margin-bottom: 3em;
padding: 0.8rem;
        
}
        
.Karate_kata{
font-size: 25px;
width: 20%;
margin-right: auto;
margin-top: em;
margin-bottom: 3em;
padding: 0.8rem;
text-align: left;
float: left;
         }
.box_Recursos{
    width: 300px;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: #afdebe;

}

.Recursos__image{
    width: 20%;
    border-radius: 50%;
    margin:0px;
}
.card__RecursosJS{
font-size:40px ;
}
.card__sub_recursos{
font-size: 30px;
}

/* PÁGINA CONTACTO*/

.mailContacto {
font-size: 35px;
text-align: center;
padding: 10px;
background-color: #f9f9f9;
}

.arroba{
width: 2%;
padding: 0px;
}
.logoSB{
    width: 30%;
    
}
/* PÁGINA JAVA*/

.Gif_java{
    width: 40%;
    padding: 30px;
    margin-left: 100px;
    margin-right: auto;
    margin-top: em;
}

.main-containerTabla{
    margin: 150 auto;
    width: 600px;
}

table{
    background-color: white;
    border-collapse: collapse;
    text-align:left ;
    width: 200%;
}
th,td{
    border: solid 1px black;
    padding: 20px;

}
thead{
    background-color: #afdebe;
    color: rgb(11, 10, 10);
    border-bottom: solid 5px #0f362d;
}
tr:nth-child(even){
    background-color: #ddd;

}
.contenedor{
    max-width: 100%;  
    display: block;
    display: grid;  
    grid-template-columns: 1fr 200px;
    grid-gap: 10px;
    max-width: 800px;
    margin: 0 auto;  
    font-size: 25px;
    background-image: url("Fotos/LibretaLinks.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 100px;
}

footer{
    text-align: center;
}